In [1]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

/usr/local/lib/python3.9/dist-packages/pyspark/bin/load-spark-env.sh: line 68: ps: command not found
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/06 02:40:45 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
df_green = spark.read.parquet('../data/pq/green/*/*')

In [3]:
df_green.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- lpep_pickup_datetime: timestamp (nullable = true)
 |-- lpep_dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- trip_type: integer (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [4]:
df_green = df_green \
    .withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')

In [9]:
df_yellow = spark.read.parquet('../data/pq/yellow/*/*')

In [12]:
df_yellow = df_yellow \
    .withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime')

In [13]:
set(df_green.columns) & set(df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'dropoff_datetime',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'pickup_datetime',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

In [17]:
common_colums = []

yellow_columns = set(df_yellow.columns)

for col in df_green.columns:
    if col in yellow_columns:
        common_colums.append(col)

In [18]:
common_colums

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge']

In [19]:
from pyspark.sql import functions as F

In [20]:
df_green_sel = df_green \
    .select(common_colums) \
    .withColumn('service_type', F.lit('green'))

In [21]:
df_yellow_sel = df_yellow \
    .select(common_colums) \
    .withColumn('service_type', F.lit('yellow'))

In [22]:
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [23]:
df_trips_data.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [24]:
df_trips_data.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge',
 'service_type']

In [25]:
df_trips_data.registerTempTable('trips_data')

/usr/local/lib/python3.9/dist-packages/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [26]:
spark.sql("""
SELECT
    service_type,
    count(1)
FROM
    trips_data
GROUP BY 
    service_type
""").show()

+------------+--------+
|service_type|count(1)|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [27]:
df_result = spark.sql("""
SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count,
    AVG(trip_distance) AS avg_montly_trip_distance
FROM
    trips_data
GROUP BY
    1, 2, 3
""")

In [28]:
df_result.show()

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_montly_passenger_count|avg_montly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|         250|2020-02-01 00:00:00|       green|  15359.960000000037|               1282.5|                  117.5|                     56.01|           590.3200000000003|                   179.99999999999946|          17598.439999999977|                                11.0|        1.2394957983193278|       4.962810650887575|
|         158|2020-02-01 00:00:00|       green|              124.36|                 8.25|                    0.5|                       0.0|                         2.8|                   0.8999999999999999|                      136.81|                                null|                      null|      11.090000000000002|
|         152|2020-02-01 00:00:00|       green|  37630.820000000014|              1541.25|                 1398.5|         2836.659999999998|           538.3700000000003|                    903.8999999999917|           45984.59999999937|                             1336.25|        1.2240055826936498|        2.72640336678537|
|         243|2019-12-01 00:00:00|       green|               13.99|                  0.0|                    0.0|                       1.0|                         0.0|                                  0.3|                       15.29|                                 0.0|                       1.0|                     0.0|
|          20|2020-01-01 00:00:00|       green|            11375.42|                681.0|                  131.0|         90.61999999999999|           479.8600000000003|                   147.29999999999987|          12923.199999999997|                                11.0|        1.2297872340425533|       4.872311926605508|
|          12|2020-01-01 00:00:00|       green|              161.01|                  5.5|                    1.0|                       0.0|                       12.24|                                  1.2|                      180.95|                                null|                      null|      0.7150000000000007|
|         248|2019-12-01 00:00:00|       green|                10.0|                  0.5|                    0.5|                       0.0|                         0.0|                                  0.3|                        11.3|                                 0.0|                       1.0|                     2.9|
|         182|2020-02-01 00:00:00|       green|   19047.14000000003|               1493.0|                  183.5|        209.75999999999996|           676.0000000000005|                   267.00000000000165|          21901.749999999927|                                16.5|         1.275053304904051|       4.035101832993891|
|          37|2020-02-01 00:00:00|       green|            23375.71|              1982.75|                  229.0|        428.95000000000005|           527.5100000000002|                   284.10000000000184|           26942.41999999996|                              104.25|        1.2318059299191375|       4.494921104536492|
|          62|2020-02-01 00:00:00|       green|            20893.55|               1908.5|                  192.0|        212.16999999999996|          124.69000000000003|                   262.50000000000193|           23661.75999999997|                               13.75|        1.1245551601423487|      3.8925131440588823|
|         202|2020-02-01 00:00:00|       green|  1339.7599999999998|               130.25|                    9.0|                      7.08|           82.30999999999999|                   15.600000000000005|                      1589.5|                                 5.5|        1.0769230769230769|       5.690181818181819|
|         192|2020-01-01 00:00:00|       green|   8618.379999999997|               395.25|                   63.5|         374.9299999999999|                       54.05|                     90.2999999999995|           9608.109999999991|                                 0.0|        1.3060109289617485|        5.15945714285715|
|         225|2020-01-01 00:00:00|       green|  54163.139999999854|               3779.0|                  573.0|         299.3199999999999|           786.1500000000005|                    662.0999999999909|           60424.11000000044|                                49.5|        1.1127596439169138|       4.172635719905584|
|           7|2020-02-01 00:00:00|       green|  150332.03000000006|               7232.5|                 6804.0|        12193.109999999973|          1539.1999999999969|                    4271.700000000399|          185070.84000001164|                             2675.75|        1.4657236126224156|       2.232184170471838|
|          33|2020-01-01 00:00:00|       green|   155230.3799999992|              6140.75|                 4757.0|        18298.059999999903|                      660.71|                    3095.100000000416|          194160.69999998875|                              6190.5|        1.2879223963330135|       3.408719483233577|
|         217|2020-01-01 00:00:00|       green|   7338.409999999995|                423.5|                   98.5|         82.83000000000001|          137.88000000000002|                    91.19999999999949|           8200.170000000002|                               24.75|        1.1933333333333334|       4.819556213017753|
|         161|2020-01-01 00:00:00|       green|  2278.8299999999995|                148.5|                    5.0|                       0.0|          183.66000000000005|                    21.60000000000003|          2637.5900000000006|                                 0.0|                       1.0|       8.621388888888891|
|          62|2020-01-01 00:00:00|       green|  26734.569999999996|               2084.0|                  273.5|        213.79000000000002|          237.89000000000007|                     336.300000000007|           29938.64999999978|                               13.75|        1.2145328719723183|        4.05235524256651|
|         191|2020-01-01 00:00:00|       green|  24836.620000000083|              1235.25|                  144.0|         9.969999999999999|          411.53000000000026|                   218.40000000000256|          26858.519999999997|                                2.75|        1.2651162790697674|       8.111508951406641|
|         159|2020-01-01 00:00:00|       green|  31086.470000000005|               1782.5|                  541.0|        283.15999999999997|          1169.1899999999982|                   482.70000000001255|           35435.21999999961|                               85.25|         1.176300578034682|       4.014747826086961|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
only showing top 20 rows

In [29]:
df_result.coalesce(1).write.parquet('../data/report/revenue/', mode='overwrite')