In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import types

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

/usr/local/lib/python3.9/dist-packages/pyspark/bin/load-spark-env.sh: line 68: ps: command not found
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/06 09:39:42 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
spark.version

'3.3.2'

In [9]:
schema = types.StructType([
    types.StructField('dispatching_base_num', types.StringType(), True),
    types.StructField('pickup_datetime', types.TimestampType(), True),
    types.StructField('dropoff_datetime', types.TimestampType(), True),
    types.StructField('PULocationID', types.IntegerType(), True),
    types.StructField('DOLocationID', types.IntegerType(), True),
    types.StructField('SR_Flag', types.StringType(), True),
    types.StructField('Affiliated_base_number', types.StringType(), True)
])

23/03/06 09:44:51 WARN MemoryManager: Total allocation exceeds 95.00% (906,992,014 bytes) of heap memory
Scaling row group sizes to 96.54% for 7 writers
23/03/06 09:44:51 WARN MemoryManager: Total allocation exceeds 95.00% (906,992,014 bytes) of heap memory
Scaling row group sizes to 84.47% for 8 writers

In [5]:
!ls /opt/workspace/data/raw/fhvhv/2021/06

fhvhv_tripdata_2021-06.csv

In [ ]:
dispatching_base_num,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,SR_Flag,Affiliated_base_number

In [10]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('../data/raw/fhvhv/2021/06/fhvhv_tripdata_2021-06.csv')

23/03/06 09:45:05 WARN MemoryManager: Total allocation exceeds 95.00% (906,992,014 bytes) of heap memory
Scaling row group sizes to 96.54% for 7 writers

In [11]:
df = df.repartition(12)

In [14]:
df.write.parquet('../data/pq/fhvhv/2021/06', mode='overwrite')

23/03/06 09:46:39 WARN MemoryManager: Total allocation exceeds 95.00% (906,992,014 bytes) of heap memory
Scaling row group sizes to 96.54% for 7 writers
23/03/06 09:46:39 WARN MemoryManager: Total allocation exceeds 95.00% (906,992,014 bytes) of heap memory
Scaling row group sizes to 84.47% for 8 writers
23/03/06 09:46:58 WARN MemoryManager: Total allocation exceeds 95.00% (906,992,014 bytes) of heap memory
Scaling row group sizes to 96.54% for 7 writers

23/03/06 09:46:59 WARN MemoryManager: Total allocation exceeds 95.00% (906,992,014 bytes) of heap memory
Scaling row group sizes to 96.54% for 7 writers

23/03/06 09:46:59 WARN MemoryManager: Total allocation exceeds 95.00% (906,992,014 bytes) of heap memory
Scaling row group sizes to 96.54% for 7 writers
23/03/06 09:47:00 WARN MemoryManager: Total allocation exceeds 95.00% (906,992,014 bytes) of heap memory
Scaling row group sizes to 84.47% for 8 writers
23/03/06 09:47:00 WARN MemoryManager: Total allocation exceeds 95.00% (906,992,014 bytes) of heap memory
Scaling row group sizes to 96.54% for 7 writers

In [49]:
df = spark.read.parquet('../data/pq/fhvhv/2021/06')

In [50]:
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B02864|2021-06-04 14:18:02|2021-06-04 15:04:26|         231|         138|      N|                B02864|
|              B02884|2021-06-03 12:30:12|2021-06-03 12:41:25|         207|         170|      N|                B02884|
|              B02764|2021-06-03 00:13:00|2021-06-03 00:19:53|          63|          63|      N|                B02764|
|              B02875|2021-06-01 09:31:21|2021-06-01 09:56:41|         242|         169|      N|                B02875|
|              B02872|2021-06-04 21:45:04|2021-06-04 22:08:29|         144|         168|      N|                B02872|
|              B02866|2021-06-03 16:26:21|2021-06-03 16:50:47|          48|         140|      N|                B02866|
|              B02869|2021-06-01 15:17:21|2021-06-01 16:17:42|         230|         130|      N|                B02869|
|              B02880|2021-06-01 08:43:45|2021-06-01 09:00:18|         239|         230|      N|                B02880|
|              B02888|2021-06-04 11:37:25|2021-06-04 11:47:06|         115|         206|      N|                B02888|
|              B02867|2021-06-02 19:48:07|2021-06-02 20:05:13|         170|         143|      N|                B02867|
|              B02872|2021-06-03 10:59:56|2021-06-03 11:07:38|         178|          26|      N|                B02872|
|              B02764|2021-06-02 20:48:54|2021-06-02 21:00:38|          79|         234|      N|                B02764|
|              B02765|2021-06-04 07:46:02|2021-06-04 07:51:50|         130|         130|      N|                B02765|
|              B02875|2021-06-01 13:28:55|2021-06-01 13:58:03|          61|          76|      N|                B02875|
|              B02835|2021-06-02 09:04:19|2021-06-02 09:21:28|         131|         197|      N|                B02835|
|              B02882|2021-06-03 09:52:34|2021-06-03 10:21:03|          76|          85|      N|                B02882|
|              B02835|2021-06-04 14:57:12|2021-06-04 15:09:39|          40|         228|      N|                B02835|
|              B02872|2021-06-03 07:34:23|2021-06-03 07:53:20|         162|          13|      N|                B02872|
|              B02876|2021-06-04 02:27:53|2021-06-04 02:35:25|          72|         188|      N|                B02876|
|              B02510|2021-06-03 12:04:52|2021-06-03 12:09:57|         188|         188|      N|                  null|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [23]:
!ls -la '../data/pq/fhvhv/2021/06'

total 277684
drwxrwxrwx 1 1000 1000     4096 Mar  6 09:47 .
drwxrwxrwx 1 1000 1000     4096 Mar  6 09:46 ..
-rwxrwxrwx 1 1000 1000        8 Mar  6 09:47 ._SUCCESS.crc
-rwxrwxrwx 1 1000 1000   183724 Mar  6 09:47 .part-00000-7bfb5d0d-9139-4776-a02d-fb8a2a1a4535-c000.snappy.parquet.crc
-rwxrwxrwx 1 1000 1000   183656 Mar  6 09:47 .part-00001-7bfb5d0d-9139-4776-a02d-fb8a2a1a4535-c000.snappy.parquet.crc
-rwxrwxrwx 1 1000 1000   183660 Mar  6 09:46 .part-00002-7bfb5d0d-9139-4776-a02d-fb8a2a1a4535-c000.snappy.parquet.crc
-rwxrwxrwx 1 1000 1000   183692 Mar  6 09:47 .part-00003-7bfb5d0d-9139-4776-a02d-fb8a2a1a4535-c000.snappy.parquet.crc
-rwxrwxrwx 1 1000 1000   183684 Mar  6 09:47 .part-00004-7bfb5d0d-9139-4776-a02d-fb8a2a1a4535-c000.snappy.parquet.crc
-rwxrwxrwx 1 1000 1000   183716 Mar  6 09:46 .part-00005-7bfb5d0d-9139-4776-a02d-fb8a2a1a4535-c000.snappy.parquet.crc
-rwxrwxrwx 1 1000 1000   183696 Mar  6 09:46 .part-00006-7bfb5d0d-9139-4776-a02d-fb8a2a1a4535-c000.snappy.parquet.crc
-rwxrwxrwx 1 1000 1000   183708 Mar  6 09:47 .part-00007-7bfb5d0d-9139-4776-a02d-fb8a2a1a4535-c000.snappy.parquet.crc
-rwxrwxrwx 1 1000 1000   183536 Mar  6 09:47 .part-00008-7bfb5d0d-9139-4776-a02d-fb8a2a1a4535-c000.snappy.parquet.crc
-rwxrwxrwx 1 1000 1000   183696 Mar  6 09:47 .part-00009-7bfb5d0d-9139-4776-a02d-fb8a2a1a4535-c000.snappy.parquet.crc
-rwxrwxrwx 1 1000 1000   183720 Mar  6 09:47 .part-00010-7bfb5d0d-9139-4776-a02d-fb8a2a1a4535-c000.snappy.parquet.crc
-rwxrwxrwx 1 1000 1000   183624 Mar  6 09:47 .part-00011-7bfb5d0d-9139-4776-a02d-fb8a2a1a4535-c000.snappy.parquet.crc
-rwxrwxrwx 1 1000 1000        0 Mar  6 09:47 _SUCCESS
-rwxrwxrwx 1 1000 1000 23515285 Mar  6 09:47 part-00000-7bfb5d0d-9139-4776-a02d-fb8a2a1a4535-c000.snappy.parquet
-rwxrwxrwx 1 1000 1000 23506694 Mar  6 09:47 part-00001-7bfb5d0d-9139-4776-a02d-fb8a2a1a4535-c000.snappy.parquet
-rwxrwxrwx 1 1000 1000 23507261 Mar  6 09:46 part-00002-7bfb5d0d-9139-4776-a02d-fb8a2a1a4535-c000.snappy.parquet
-rwxrwxrwx 1 1000 1000 23511306 Mar  6 09:47 part-00003-7bfb5d0d-9139-4776-a02d-fb8a2a1a4535-c000.snappy.parquet
-rwxrwxrwx 1 1000 1000 23510300 Mar  6 09:47 part-00004-7bfb5d0d-9139-4776-a02d-fb8a2a1a4535-c000.snappy.parquet
-rwxrwxrwx 1 1000 1000 23514137 Mar  6 09:46 part-00005-7bfb5d0d-9139-4776-a02d-fb8a2a1a4535-c000.snappy.parquet
-rwxrwxrwx 1 1000 1000 23511960 Mar  6 09:46 part-00006-7bfb5d0d-9139-4776-a02d-fb8a2a1a4535-c000.snappy.parquet
-rwxrwxrwx 1 1000 1000 23513233 Mar  6 09:47 part-00007-7bfb5d0d-9139-4776-a02d-fb8a2a1a4535-c000.snappy.parquet
-rwxrwxrwx 1 1000 1000 23491231 Mar  6 09:47 part-00008-7bfb5d0d-9139-4776-a02d-fb8a2a1a4535-c000.snappy.parquet
-rwxrwxrwx 1 1000 1000 23511565 Mar  6 09:47 part-00009-7bfb5d0d-9139-4776-a02d-fb8a2a1a4535-c000.snappy.parquet
-rwxrwxrwx 1 1000 1000 23514690 Mar  6 09:47 part-00010-7bfb5d0d-9139-4776-a02d-fb8a2a1a4535-c000.snappy.parquet
-rwxrwxrwx 1 1000 1000 23502387 Mar  6 09:47 part-00011-7bfb5d0d-9139-4776-a02d-fb8a2a1a4535-c000.snappy.parquet

In [24]:
from pyspark.sql import functions as F

In [26]:
df \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .filter("pickup_date = '2021-06-15'") \
    .count()

452470

In [56]:
df.registerTempTable('fhvhv_2021_06')

In [29]:
spark.sql("""
SELECT
    COUNT(1)
FROM 
    fhvhv_2021_06
WHERE
    to_date(pickup_datetime) = '2021-06-15';
""").show()

+--------+
|count(1)|
+--------+
|  452470|
+--------+

In [37]:
df \
    .withColumn('duration', (df.dropoff_datetime.cast('long') - df.pickup_datetime.cast('long'))/3600  ) \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .groupBy('pickup_date') \
    .max('duration') \
    .orderBy('max(duration)', ascending=False) \
    .limit(5) \
    .show()

+-----------+------------------+
|pickup_date|     max(duration)|
+-----------+------------------+
| 2021-06-25|  66.8788888888889|
| 2021-06-22|25.549722222222222|
| 2021-06-27|19.980833333333333|
| 2021-06-26|18.197222222222223|
| 2021-06-23|16.466944444444444|
+-----------+------------------+

In [60]:
spark.sql("""
SELECT
    to_date(pickup_datetime) AS pickup_date,
    MAX((CAST(dropoff_datetime AS LONG) - CAST(pickup_datetime AS LONG)) / 3600) AS duration
FROM 
    fhvhv_2021_06
GROUP BY
    1
ORDER BY
    2 DESC
LIMIT 10;
""").show()

+-----------+------------------+
|pickup_date|          duration|
+-----------+------------------+
| 2021-06-25|  66.8788888888889|
| 2021-06-22|25.549722222222222|
| 2021-06-27|19.980833333333333|
| 2021-06-26|18.197222222222223|
| 2021-06-23|16.466944444444444|
| 2021-06-24|13.909722222222221|
| 2021-06-04|             11.67|
| 2021-06-20|10.984444444444444|
| 2021-06-01|           10.2675|
| 2021-06-28| 9.966388888888888|
+-----------+------------------+

In [43]:
df_zones = spark.read \
    .option("header", "true") \
    .csv('../data/taxi+_zone_lookup.csv')

In [44]:
df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [46]:
df_zones.write.parquet('../data/zones', mode='overwrite')

In [51]:
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B02864|2021-06-04 14:18:02|2021-06-04 15:04:26|         231|         138|      N|                B02864|
|              B02884|2021-06-03 12:30:12|2021-06-03 12:41:25|         207|         170|      N|                B02884|
|              B02764|2021-06-03 00:13:00|2021-06-03 00:19:53|          63|          63|      N|                B02764|
|              B02875|2021-06-01 09:31:21|2021-06-01 09:56:41|         242|         169|      N|                B02875|
|              B02872|2021-06-04 21:45:04|2021-06-04 22:08:29|         144|         168|      N|                B02872|
|              B02866|2021-06-03 16:26:21|2021-06-03 16:50:47|          48|         140|      N|                B02866|
|              B02869|2021-06-01 15:17:21|2021-06-01 16:17:42|         230|         130|      N|                B02869|
|              B02880|2021-06-01 08:43:45|2021-06-01 09:00:18|         239|         230|      N|                B02880|
|              B02888|2021-06-04 11:37:25|2021-06-04 11:47:06|         115|         206|      N|                B02888|
|              B02867|2021-06-02 19:48:07|2021-06-02 20:05:13|         170|         143|      N|                B02867|
|              B02872|2021-06-03 10:59:56|2021-06-03 11:07:38|         178|          26|      N|                B02872|
|              B02764|2021-06-02 20:48:54|2021-06-02 21:00:38|          79|         234|      N|                B02764|
|              B02765|2021-06-04 07:46:02|2021-06-04 07:51:50|         130|         130|      N|                B02765|
|              B02875|2021-06-01 13:28:55|2021-06-01 13:58:03|          61|          76|      N|                B02875|
|              B02835|2021-06-02 09:04:19|2021-06-02 09:21:28|         131|         197|      N|                B02835|
|              B02882|2021-06-03 09:52:34|2021-06-03 10:21:03|          76|          85|      N|                B02882|
|              B02835|2021-06-04 14:57:12|2021-06-04 15:09:39|          40|         228|      N|                B02835|
|              B02872|2021-06-03 07:34:23|2021-06-03 07:53:20|         162|          13|      N|                B02872|
|              B02876|2021-06-04 02:27:53|2021-06-04 02:35:25|          72|         188|      N|                B02876|
|              B02510|2021-06-03 12:04:52|2021-06-03 12:09:57|         188|         188|      N|                  null|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [52]:
df_zones.registerTempTable('zones')

In [62]:
spark.sql("""
SELECT
    pul.Zone,
    COUNT(1)
FROM 
    fhvhv_2021_06 fhv LEFT JOIN zones pul ON fhv.PULocationID = pul.LocationID
                      LEFT JOIN zones dol ON fhv.DOLocationID = dol.LocationID
GROUP BY 
    1
ORDER BY
    2 DESC
LIMIT 5;
""").show()

+-------------------+--------+
|               Zone|count(1)|
+-------------------+--------+
|Crown Heights North|  231279|
|       East Village|  221244|
|        JFK Airport|  188867|
|     Bushwick South|  187929|
|      East New York|  186780|
+-------------------+--------+